/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 13, 2017, 11:51:19 AM
    Author     : Stephen
*/

body{
    background-image: url("../images/04 - ofF8WML.jpg");
}

.wrapper{
    width: 100%;
/*    background-color: black;*/
}

.workspace{
    max-width: 1200px;
    height: 800px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    font-family: arial, verdana;
    background-color: white;
}

.header{
    padding: 0px;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: #333;
    z-index: 400;
    height: 50px;
}

.header h1{
    float: left;
    margin-top: auto;
    padding-top: 19px;
    color: azure;
    margin-left: 350px;
}

.header a{
    float: left;
    padding-top: 34px;
    color: azure;
    margin-left: 40px;
}

.main-nav{
    height: 50px;
    display: inline-block;
    margin: 0 auto;
    padding: 0px;
}

.date{
    float: right;
}

.education h2{
    margin-top: 60px;
    text-decoration: underline;
}

.experience h2{
    text-decoration: underline;
}

.projects h2{
    text-decoration: underline;
}

.courses h2{
    text-decoration: underline;
}

.courses ul,li{
    
}